.App{
font-family:Arial, Helvetica, sans-serif ;
background-color:#fff;
min-height: 100vh;
color: rgb(239,242,232);
min-width:300vh;
color: chartreuse;
}
nav{
    background-color: magenta;
    margin: auto;
    padding: 1rem 2rem;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}